## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
import keras_tuner as kt
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
dropped_df = application_df.drop(['EIN', 'NAME'], axis = 1)
dropped_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
# Get list of categorical variables
app_cat = dropped_df.dtypes[dropped_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
dropped_df[app_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [57]:
other_values.index.tolist()

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T15', 'T29', 'T17']

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

other_values = dropped_df['APPLICATION_TYPE'].value_counts().loc[lambda x: x<250]
application_types_to_replace = other_values.index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
dropped_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
dropped_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4200        1
C1820        1
C2170        1
C2150        1
C2561        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
dropped_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C0           3
C1260        3
C2710        3
C1234        2
C1246        2
C1267        2
C1256        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

other_cls = dropped_df['CLASSIFICATION'].value_counts().loc[lambda x: x<1000]
classifications_to_replace = other_cls.index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
dropped_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
df_final = pd.get_dummies(dropped_df, prefix='', prefix_sep='',columns=['APPLICATION_TYPE',
                                                                        'AFFILIATION',
                                                                        'CLASSIFICATION',
                                                                        'USE_CASE',
                                                                        'ORGANIZATION',
                                                                        'INCOME_AMT',
                                                                        'SPECIAL_CONSIDERATIONS'])
df_final.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,Other,T10,T19,T3,T4,T5,T6,...,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M,N,Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
# Split our preprocessed data into our features and target arrays
y = df_final.IS_SUCCESSFUL.values
X = df_final.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [59]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Initialise the Sequential class
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=44, input_dim=len(X_train[0]), activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 44)                1936

 dense_4 (Dense)             (None, 30)                1350

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 3,317
Trainable params: 3,317
Non-trainable params: 0
_________________________________________________________________

In [60]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [65]:
# Train the model
import keras
from keras.callbacks import Callback
mc = keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5',save_weights_only=True, period=5)
fit_model = nn.fit(X_train_scaled,y_train,callbacks=[mc],epochs=20)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7355: 0s - loss: 0.5422 - ac
Epoch 2/20
804/804 [==============================] - 1s 877us/step - loss: 0.5430 - accuracy: 0.7366
Epoch 3/20
804/804 [==============================] - 1s 851us/step - loss: 0.5433 - accuracy: 0.7371
Epoch 4/20
804/804 [==============================] - 1s 856us/step - loss: 0.5428 - accuracy: 0.7364
Epoch 5/20
804/804 [==============================] - 1s 939us/step - loss: 0.5424 - accuracy: 0.7379
Epoch 6/20
804/804 [==============================] - 1s 926us/step - loss: 0.5429 - accuracy: 0.7377
Epoch 7/20
804/804 [==============================] - 1s 910us/step - loss: 0.5423 - accuracy: 0.7366
Epoch 8/20
804/804 [==============================] - 1s 836us/step - loss: 0.5426 - accuracy: 0.7367
Epoch 9/20
804/804 [==============================] - 1s 751us/step - loss: 0.5422 - accuracy: 0.7364
Epoch 10/20
804/804 [==============================] - 1s 930us/step - loss: 0.5416 - accuracy: 0.73720s - loss: 0.5467 -
Epoch 11/20
804/804 [==============================] - 1s 831us/step - loss: 0.5420 - accuracy: 0.7365
Epoch 12/20
804/804 [==============================] - 1s 919us/step - loss: 0.5418 - accuracy: 0.7376
Epoch 13/20
804/804 [==============================] - 1s 759us/step - loss: 0.5417 - accuracy: 0.7383
Epoch 14/20
804/804 [==============================] - 1s 750us/step - loss: 0.5413 - accuracy: 0.7374
Epoch 15/20
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7379
Epoch 16/20
804/804 [==============================] - 1s 748us/step - loss: 0.5414 - accuracy: 0.7373
Epoch 17/20
804/804 [==============================] - 1s 777us/step - loss: 0.5410 - accuracy: 0.7386
Epoch 18/20
804/804 [==============================] - 1s 868us/step - loss: 0.5406 - accuracy: 0.7383
Epoch 19/20
804/804 [==============================] - 1s 744us/step - loss: 0.5409 - accuracy: 0.7366
Epoch 20/20
804/804 [==============================] - 1s 924us/step - loss: 0.5406 - accuracy: 0.7374

In [66]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5516 - accuracy: 0.7264 - 155ms/epoch - 577us/step
Loss: 0.5516025424003601, Accuracy: 0.7264139652252197

In [67]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')